@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", serif;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}

.active {
  background-color: white;
  border-color: #b6666f;
}

:root {
  :#567257 ; /*for background*/
  --Pink: #d9d8d5; /*for text*/
  brown: #896a58;
  --Brown: #2a2420;
  --: #acab9e;

  --Primary: #5d8b5a;
  --Secondary: #8b6e44;
  --Accent: #a1be7c;
  --Muted: #e8e2da;
  --Background: #f9f7f3;
}
