@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Light: #5d8b5a; /*for background (Primary)*/
  --Pink: #e8e2da; /*for text (Muted)*/
  --LightBrown: #8b6e44; /*Secondary*/
  --Brown: #2a2420; /*kept the same for contrast*/
  --Yellow: #a1be7c; /*Accent*/
  --Background: #f9f7f3; /* BACKGROUN */
}
