@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Light: #567257; /*for background*/
  --Pink: #d9d8d5; /*for text*/
  --LightBrown: #896a58;
  --Brown: #2a2420;
  --Yellow: #acab9e;
}
